# .gitignore

# Node
node_modules/
dist/
.env

# Angular
/.angular/cache

# VSCode
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# .NET
ODataBackend/bin/
ODataBackend/obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Others
npm-debug.log*
yarn-debug.log*
yarn-error.log*

