# .gitignore

# Node
node_modules/
dist/
.env

# Angular
/.angular/cache

# Ignore the entire Angular demo app (maintained in separate repo)
nlabs-grid-angular/node_modules/
nlabs-grid-angular/dist/
nlabs-grid-angular/.angular/
nlabs-grid-angular/.env
nlabs-grid-angular/.vscode/

# VSCode
.vscode/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# .NET Backend
ODataBackend/bin/
ODataBackend/obj/
*.user
*.suo
*.userosscache
*.sln.docstates

